.right-container {
  position: relative;
  display: grid;
  height: 950px;
  width: 1000px;
  border: var(--main-border);
  background-color: var(--main-color);
}
.mapBtn {
  margin: 5px;
  position: absolute;
  font-size: 25px;
  z-index: 99;
  color: black;
  background-color: white;
  border-radius: 9px;
  border: 1px solid black;
}
.btn-container {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
  height: 130px;
}
.mapBtn-container,
.mapSettingBtn-container,
.designBtn-container {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  height: 90px;
  text-align: center;
}
.mapBtn-container {
  width: 700px;
  display: block;
}
.mapSettingBtn-container {
  width: 130px;
}

.designBtn-container {
  width: 130px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.maplist-container {
  display: flex;
  margin: 10px;
  height: 750px;
}
#map {
  height: 767px;
  width: 500px;
  margin-right: 20px;
}
.mapList {
  overflow-y: scroll;
  width: 400px;
  height: 750px;
  list-style: none;
  padding: 0;
}
.mapList li {
  border-bottom: var(--main-border);
  margin-bottom: 10px;
}
.mapList li span {
  display: block;
  padding: 4px 0px;
}
