@import "variable.css";
@import "weather-container.css";
@import "todo-list.css";
@import "map.css";

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 1466px;
  height: 90%;
  font-family: "roboto", sans-serif;
  font-weight: 300;
}
/* 맵리스트 스크롤 */
.mapList::-webkit-scrollbar {
  width: 10px;
}
.mapList::-webkit-scrollbar-thumb {
  height: 30%;
  background: #217af4;
  border-radius: 10px;
}
.mapList::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
}

/* 앵커 기본설정 */
a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.left-container,
.right-container {
  margin: 8px;
}
.todo-container,
.weather-container,
.right-container {
  border: var(--main-border);
  background-color: var(--main-color);
}
.mapList li {
  border-bottom: var(--main-border);
}
.weather-container_innerBox_info_nh div,
.weather-container_innerBox_info_mm div {
  border: var(--main-border);
}
/* 라이트모드 */
@media (prefers-color-scheme: light) {
  .todo-container,
  .weather-container,
  .right-container {
    border: var(--main-border);
    background-color: var(--main-color);
  }
  .mapList li {
    border-bottom: var(--main-border);
  }
  .weather-container_innerBox_info_nh div,
  .weather-container_innerBox_info_mm div {
    border: var(--main-border);
  }
  .seasonRecommend input {
    border: 1px solid #3b3f4a;
    border-radius: 3px;
  }
}
/* 다크모드 */
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
  .seasonRecommend input {
    border: 1px solid var(--main-dark-color);
    border-radius: 3px;
    color: white;
    background-color: #3b3f4a;
  }
  .todo-form > input {
    border-bottom: 1px solid var(--main-dark-color);
  }
  .todo-form > input:focus {
    border: none;
    outline: 1px solid var(--main-dark-color);
  }

  .todo-container,
  .weather-container,
  .right-container {
    border: 1px solid var(--main-dark-color);
    background-color: #1b1c24;
  }
  .mapList li {
    border-bottom: 1px solid var(--main-dark-color);
  }
  .weather-container_innerBox_info_nh div,
  .weather-container_innerBox_info_mm div {
    border: 1px solid var(--main-dark-color);
  }
}
