@import "variable.css";
@import "weather-container.css";
@import "todo-list.css";
@import "map.css";

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 1466px;
  height: 90%;
  font-family: "roboto", sans-serif;
  font-weight: 300;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
.left-container,
.right-container {
  margin: 8px;
}
.todo-container,
.weather-container,
.right-container {
  border: var(--main-border);
  background-color: var(--main-color);
}
.mapList li {
  border-bottom: var(--main-border);
}
.weather-container_innerBox_info_nh div,
.weather-container_innerBox_info_mm div {
  border: var(--main-border);
}

@media (prefers-color-scheme: light) {
  .todo-container,
  .weather-container,
  .right-container {
    border: var(--main-border);
    background-color: var(--main-color);
  }
  .mapList li {
    border-bottom: var(--main-border);
  }
  .weather-container_innerBox_info_nh div,
  .weather-container_innerBox_info_mm div {
    border: var(--main-border);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  input {
    background-color: black;
    border: 1px solid #3b3f4a;
    color: white;
  }
  .todo-form input {
    border-bottom: 1px solid var(--main-dark-color);
  }
  .todo-form input:focus {
    outline: 1px solid var(--main-dark-color);
    border: none;
  }

  .todo-container,
  .weather-container,
  .right-container {
    border: 1px solid var(--main-dark-color);
    background-color: #1b1c24;
  }
  .mapList li {
    border-bottom: 1px solid var(--main-dark-color);
  }
  .weather-container_innerBox_info_nh div,
  .weather-container_innerBox_info_mm div {
    border: 1px solid var(--main-dark-color);
  }
}

/* .dark {
  background-color: black;
  color: white;
  border: 1px solid #3b3f4a;
}
.darkContainer {
  border: 1px solid var(--main-dark-color);
  background-color: #1b1c24;
}
.darkList {
  border-bottom: 1px solid var(--main-dark-color);
}
.darkWeatherContainer {
} */
