@import "variable.css";
@import "weather-container.css";
@import "todo-list.css";
body {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  background-color: gray;
}
.right {
  margin: 10px;
  display: flex;
  height: 948px;
  width: 1700px;
  border: var(--main-border);
  background-color: var(--main-color);
}
