.todo-container {
  position: absolute;
  bottom: 0;
  width: 500px;
  height: 650px;
}
.todo-container div:first-child {
  position: relative;
}
.todo-container > div > p {
  position: absolute;
  left: 20px;
}

.todo-form {
  text-align: center;
  margin-top: 20px;
}
.todo-form input {
  width: 250px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}
.todo-form input:focus {
  outline: 1px solid black;
  border: none;
}
.todo-list li {
  position: relative;
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
.todo-list span {
  padding-right: 29px;
}
.todo-list button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: red;
  font-size: 15px;
}
